.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ced1d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 64px; /* Same height as the top bar */
  left: 0;
  width: 250px; /* Set a fixed width */
  height: calc(100vh - 64px); /* Take the full height minus top bar */
  background-color: #f4f4f4;
  z-index: 1000; /* Ensure it's behind the top bar */
  padding-top: 20px;
}

/* Topbar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 64px;
  background-color: #ffffff;
  color: rgb(102, 88, 88);
  z-index: 1200; /* Ensure top bar is above the sidebar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* Dashboard Content */
.content {
  margin-left: 50px; /* Same width as sidebar */
  padding-top: 64px; /* Same height as topbar */
  padding: 20px;
}
